    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <!-- <meta property="fb:admins" content="678505667" /> -->

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <!-- Search engines -->
    <!-- <meta name="description" content="Experienced Web Developer and Software Engineering student. Expertise in front end and back end web development, SQL, data modeling & ETL design, Android, and Linux."> -->
    <!-- Google Plus -->
    <!-- Update your html tag to include the itemscope and itemtype attributes. -->
    <!-- html itemscope itemtype="http://schema.org/{CONTENT_TYPE}" -->
    <meta itemprop="name" content="Home of Erik Cox">
    <meta itemprop="description" content="Experienced Web Developer and Software Engineering student. Expertise in front end and back end web development, SQL, data modeling & ETL design, Android, and Linux.">
    <meta itemprop="image" content="http://ecox.rocks/images/profile_thumb.jpg">
    <!-- Open Graph General (Facebook & Pinterest) -->
    <meta property="og:url" content="http://ecox.rocks/">
    <meta property="og:title" content="Home of Erik Cox">
    <meta property="og:description" content="Experienced Web Developer and Software Engineering student. Expertise in front end and back end web development, SQL, data modeling & ETL design, Android, and Linux.">
    <meta property="og:site_name" content="Home of Erik Cox">
    <meta property="og:image" content="http://ecox.rocks/images/profile_thumb.jpg">
    <meta property="fb:admins" content="10153055197825668">
    <meta property="fb:app_id" content="1512247512400912">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:audio" content="">
    <meta property="og:video" content="">
