If you have any questions or comment, please post them below.
If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&hashtags=AndroidDev&via=erikerik"
   target="_blank">
  share it with your followers</a>
or
<a href="https://twitter.com/erikerik">
  follow me on Twitter</a>!


  <a href="https://twitter.com/share" class="twitter-share-button" data-via="erikerik" data-hashtags="AndroidDev">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <a href="https://twitter.com/erikerik" class="twitter-follow-button" data-show-count="false">Follow @erikerik</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
